<p id="detail_description_box__sale_point" class="text-primary">
    {% dump(point.min) %}
    {% if point.min != point.max %}
        付与ポイント&nbsp;:&nbsp;<span>{{ point.min }}</span>&nbsp;<span class="small">pt</span> ～ <span>{{ point.max }}</span>&nbsp;<span class="small">pt</span>
    {%  else %}
        付与ポイント&nbsp;:&nbsp;<span>{{ point.max }}</span>&nbsp;<span class="small">pt</span>
    {% endif %}
</p>

