<div class="column">
    <h3>お好きな言葉で思いの丈を書き込んでください</h3>
    <div class="form-inline form-group">
        {{ form_widget(form.nikomessage) }}
        {{ form_errors(form.nikomessage) }}
        {{ form_widget(form.save) }}
    </div>
</div>
